---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/main.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout content={{ title: t("home.title") }}>
  <div class="grid h-screen place-items-center content-center">
    <Button>{t("home.button")}</Button>
    <a href={getRelativeLocaleUrl(lang, "markdown-page")} class="p-4 underline">
      {t("home.markdownLink")}
    </a>
  </div>
</Layout>
