---
import "../styles/global.css";
import LanguagePicker from "@/components/language-picker.astro";
import { getLangFromUrl } from "@/i18n/utils";
import TailwindIndicator from "@/components/tailwind-indicator.astro";
import AppHeader from "@/components/app-header.astro";
const lang = getLangFromUrl(Astro.url);
const { content, frontmatter } = Astro.props;
const title = content?.title ?? frontmatter?.title ?? "Orkesta";
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <AppHeader />
    <slot />
    <footer>
      <LanguagePicker />
    </footer>
    <TailwindIndicator />
  </body>
</html>
